.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);

  &_container {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }
}

.container {
  &_menu {
    visibility: hidden;
    @media screen and (max-width: 800px) {
      visibility: visible;
    }
  }

  &_list {
    display: flex;
    list-style: none;
    @media screen and (max-width: 800px) {
      margin: 0;
      padding: 0;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      top: 70px;
      left: -120%;
      right: 100%;
      width: 100%;
      height: 300px;
      transition: all 0.5s;
    }
  }

  &_item {
    white-space: nowrap;
    @media screen and (max-width: 800px) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      flex: 1;
    }
  }

  &_link {
    font-size: 0.85rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
    font-weight: 550;
    padding: 10px;
    margin: 0 5px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: transparent;
    transition: 250ms;

    &:hover {
      color: green;
      border-color: white;
      transition: 250ms;
      border-bottom: 1px solid green;
    }

    &:active {
      font-size: 0.80rem;
      color: green;
    }

    @media screen and (max-width: 800px) {
      display: flex;
      height: 80.40%;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      border-width: 0;
      color: black;
      background-color: white;
    }
  }
}
@media screen and (max-width: 800px) {
  .container_list--active {
    left: 0;
  }
}
